{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:10rem">
  <div class="mainform">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join to be COOL!</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Sign Up</button>
      </div>
    </form>

    <div class="border-top pt-3">
      <small class="text-muted">Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
    </div>
  </div>
</div>
{% endblock content %}