html {
  scroll-behavior: smooth;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* display: flex; */
  justify-content: center;
}

.btn-custom {
  font-size: 3vh;
  position: absolute;
  bottom: 15vh;
  margin: 0;
}

.nav-custom {
  height: 15vh;
}

/* navbar top */
.navbar-top {
  position: absolute;
  height: 20vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 2vh;
  margin-top: 3vh;
  background-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  font-family: 'Playfair Display SC', serif;
}

.navbar-top .closebtn {
  width: 3vw;
}

.navbar-top h1 {
  font-size: 4vh;
}

.navbar-top a {
  position: relative;
  font-family: Raleway;
  padding: 2vh 4vw;
  text-decoration: none;
  font-size: 2.5vh;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  bottom: 0;
}

.navbar-top a:hover {
  color: #f1f1f1;
}

/* second nav */
.navbar-top-2 {
  height: 20vh;
  top: 0;
  left: 0;
  padding-top: 2vh;
  margin-top: 3vh;
  background-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  font-family: 'Playfair Display SC', serif;
}

.navbar-top-2 .closebtn {
  width: 3vw;
}

.navbar-top-2 h1 {
  font-size: 4vh;
}

.navbar-top-2 a {
  position: relative;
  font-family: Raleway;
  padding: 2vh 4vw;
  text-decoration: none;
  font-size: 2.5vh;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  bottom: 0;
}

.navbar-top-2 a:hover {
  color: #f1f1f1;
}

/* search bar */
.input-group {
  position: absolute;
  top: 2vh;
  right: 2vw;
  max-width: 23vw;
}

.input-group a {
  font-size: 2vh;
}

.dropdown-toggle {
  color: black;
}

.facust-bag {
  margin-top: 2px;
  color: grey;
  filter: drop-shadow(0 0 0.5px grey)
}

.car-ctrl {
  height: 50%;
  margin-top: 12%;
}
