body {
  text-align: center;
  overflow-x: hidden;
}
/*
.imageused img {
  max-width: 339px;
  max-height: 442.39px;
} */
.check {
  width: auto;
  height: auto;
  background: #fff;
  border: 1px solid #000;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0
}

.cust-bag {
  margin-top: 30vh;
}

.bag-custom {
  margin-bottom: 10vh;
}

.prod-div {
  margin: 3vh 0 3vh 0;
}

.prod-list {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.prod-list a {
  text-decoration: none;
  color: black;
}

.prod-text-box {
  margin-top: 10vh;
}

.prod-text {
  margin: 3vh 0 3vh 0;
}

.prod-text p {
  font-size: 1.2rem;
}

.prod-btn {
  margin: 12vh 0 5vh 0;
}

.rev-detail {
  margin: 2vh 0 2vh 0;
}

.rev-text-box {
  margin-top: 10vh;
}

.rev-text {
  margin-bottom: 3vh;
}

.rev-full {
  margin-top: 2.5vh;
}

.cupon-list {
  margin-top: 3vh;
}
