<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'onlineshop/css/styles.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'onlineshop/css/main-custom.css' %}" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% block head-plus %}
	{% endblock head-plus %}
</head>

<body>
	<div class="main" style="overflow-y: hidden;">

		<!-- Content goes here -->
		{% block content %}
		{% endblock content %}

		<!-- TOP NAVBAR FROM HERE -->
		<div class="navbar-top">
			<center>
				<h1><b> F R É O N E </b></h1>
				<br /><br />
				{% for cat in categories %}
					<a href="{% url 'onlineshop:cat_product' cat.slug %}">{{ cat.name }}</a>
				{% endfor %}
			</center>
		</div>
		<div class="input-group">
			<div class="row">
				<div class="col-6">
					<form method="POST" class="post-form" action="{% url 'cupon:search' %}">
						{% csrf_token %}
						<div class="form-row">
							<div class="form-group col-md-12">
								<input type="text" name="text_search" class="form-control" placeholder="Search" aria-label="Text input with dropdown button">
								<input type="hidden" name="options" value="coupon" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-2">
					<a href="{% url 'login' %}"><i class="fa fa-user-circle fa-2x facust-bag" aria-hidden="true"></i></a>
				</div>
				<div class="col-2">
					<a href="{% url 'onlineshop:transactions' %}"><i class="fa fa-list-alt fa-2x facust-bag" aria-hidden="true"></i></a>
				</div>
				<div class="col-2">
					<a href="{% url 'shoppingbag:shopping-bag' %}"><i class="fa fa-shopping-bag fa-2x facust-bag" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--TO HERE-->

	</div>
</body>

</html>
