{% extends "second-base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Coupons</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div class="container" style="margin-top:1rem;">
  <div class="row">
    <h1>COUPONS</h1>
  </div>
  {% for cupon in cupons %}
    {% if forloop.first %}<div class="row">{% endif %}
      <div class="col-4 cupon-list">
        <div class="card">
          <div class="card-header">
            {{ cupon.get_percent }}%
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ cupon.code }}</h5>
            <p class="card-text">Minimum IDR {{ cupon.minimum }}</p>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>


{% endblock content %}
