{% extends "base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Freone</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div id="carouselControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'onlineshop/images/product-1-wallpaper.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'onlineshop/images/product-2-wallpaper.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'onlineshop/images/product-1.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev car-ctrl" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next car-ctrl" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="text-center" style="margin-left:-20rem">
  <center><button type="button" class="btn btn-dark btn-custom">SHOP THIS LOOK</button></center>

</div>

{% endblock content %}