<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Freone</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="{% static 'onlineshop/css/main-custom.css' %}"/>
	</head>
	<body>
		<div class="main">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="{% static 'onlineshop/images/product-1-wallpaper.jpg' %}" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{% static 'onlineshop/images/product-2-wallpaper.jpg' %}" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{% static 'onlineshop/images/product-1.jpg' %}" alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<button type="button" class="btn btn-dark btn-custom">SHOP THIS LOOK</button>
			
			<!-- TOP NAVBAR -- FROM HERE -->
			<div class="navbar-top">
				<center>
					<h1><b> F  R  É  O  N  E </b></h1>
					<br/><br/>
					<a href="#">MEN</a>
					<a href="#">WOMEN</a>
					<a href="#">YOUTH</a>
				</center>
			</div>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" aria-label="Text input with dropdown button">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">MEN</a>
						<a class="dropdown-item" href="#">WOMEN</a>
						<a class="dropdown-item" href="#">YOUTH</a>
						<div role="separator" class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">ALL</a>
					</div>
				</div>
			</div>
			<!--TO HERE-->
		</div>
		

		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>