{% extends "second-base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Product Name</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div class="container">
  <div class="row prod-div">
    <div class="col-md-5 text-center">
      <img src="{% static 'onlineshop/images/sc-med-2.jpg' %}" />
    </div>
    <div class="col-md-7">
      <div class="prod-text-box">
        <div class="prod-text">
          <h2>{{ object.name }}</h2>
          <h4>IDR {{ object.price }}</h4>
        </div>
        <div class="prod-text">
          <p>{{ object.description }}</p>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class="prod-btn">
          <input type="hidden" name="item-slug" id="item-slug" value="{{ object.slug }}">
          <button type="submit" class="btn btn-outline-dark" id="add-to-bag">ADD TO BAG</button>
        </div>
      {% else %}
        <div class="prod-btn">
          <input type="hidden" name="item-slug" id="item-slug" value="{{ object.slug }}">
          <button type="submit" class="btn btn-outline-dark disabled" id="add-to-bag" disabled>ADD TO BAG</button>
          <p class="text-muted">Please login</p>
        </div>
      {% endif %}
      <div id="add-bag-status"></div>
    </div>
  </div>
  <br />
  <div class="row prod-div">
    <div class="col-md-5 text-center">
      <img src="{% static 'onlineshop/images/sc-med-2.jpg' %}" />
    </div>
    <div class="col-md-7">
      <div class="rev-text-box">
        <div class="rev-text">
          <h2>Review</h2>
        </div>
        {% for review in reviews %}
          <div class="rev-detail">
            <div class="row">
              <div class="col-3 text-center">
                <img src="{% static 'onlineshop/images/stat-crop.jpg' %}"/>
              </div>
              <div class="col-9 rev-full">
                <div class="row">
                  <div class="col-6">
                    <div class="text-left rev-star">
                      {% with ''|center:review.star as range %}
                      {% for i in range %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                      {% endfor %}
                      {% endwith %}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="rev-name text-right">
                      <h3>{{ review.revname }}</h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col- text-left rev-info">
                    <p>{{ review.message }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <h3>Leave a review</h3>
        <form method="POST" class="post-form" action="{% url 'onlineshop:add-review' object.slug %}">
        {% csrf_token %}
          <div class="row" style="max-width: 450px; margin: auto; margin-bottom: 4vh;">
            <input type="text" class="form-control" placeholder="Enter name" name="revname"><br>
            <input type="text" class="form-control" placeholder="Enter message" name="revmsg">
            <select class="form-control" name="star">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Add Review</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% csrf_token %}
<script src="{% static 'shoppingbag/js/shoppingbag.js' %}"></script>
<script>
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  $('#add-to-bag').on('click', function(){
    var input = $("#item-slug").val();
    var api_url = "{% url 'shoppingbag:add-bag' %}";

    $.post({
      url: api_url,
      data: {slug: input},
      success: function(res) {
        var msg = $("#add-bag-status");
        if (res.success) {
          var alert_msg =
            '<div class="alert alert-success" role="alert">' +
            res.bagmsg +
            '</div>';
        } else {
          var alert_msg =
            '<div class="alert alert-danger" role="alert">' +
            res.bagmsg +
            '</div>';
        }
        msg.html(alert_msg);
      }
    })
  });
</script>
{% endblock content %}
