{% extends "second-base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Product List</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="big-picture text-right">
        <p><img src="{% static 'onlineshop/images/1.png' %}" alt="catalogue1" style="width:560px;border:0;"></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-title text-left">
        <p style="font-size:64px;margin:0">{{ category.name }}</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10vh">
  </div>
  {% for item in items %}
    {% if forloop.first %}<div class="row prod-list">{% endif %}
      <div class="col-md-4">
        <a href="{% url 'onlineshop:item' item.slug %}">
        <div class="cat-picture text-center">
          <p><img src="{% static 'onlineshop/images/stephanie-nakagawa-ADSKIn0ScDg-unsplash.jpg' %}" alt="cat1" style="width:280px;border:0;margin-bottom:0;padding-bottom:0">
          <p style="font-size:30px;padding-top:0px;margin-bottom:0;padding-bottom:0">{{ item.name }}</p>
          <p style="font-size:24px;padding-top:0px;margin-bottom:0;padding-bottom:0">{{ item.price }}</p>
        </div>
        </a>
      </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>
{% endblock content %}
