{% extends "second-base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Transactions</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div class="container">
  <div class="row ml-5">
    <h3>YOUR TRANSACTIONS</h3>
  </div>
  {% for trans in transactions %}
    {% if forloop.first %}<div class="row prod-list">{% endif %}
      <div class="card col-4" style="width: 15rem;">
        <div class="card-body" style="border: 3px solid #000; margin: 2rem 2rem 2rem 2rem;">
          <h5 class="card-title">Items</h5>
          {% for item in trans.1 %}
            <p class="card-text">{{ item.0 }} x {{ item.1 }}</p>
          {% endfor %}
          {% if trans.0.cupon.code %}
            <h5 class="card-title">Coupon</h5>
            <p class="card-text">{{ trans.0.cupon.code }}</p>
          {% endif %}
          <h5 class="card-title">Total</h5>
          <p class="card-text">IDR {{ trans.0.total }}</p>
        </div>
      </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row prod-list">{% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% empty %}
  <div class="row mt-4 ml-5">
    <div class="alert alert-info" role="alert">
      You have not made any transactions yet!
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
