{% extends "second-base.html" %}
{% load static %}
{% csrf_token %}

<!-- Head -->
{% block head-plus %}
<title>Your Bag!</title>
{% endblock head-plus %}

<!-- Page Content -->
{% block content %}
<div class="container bag-custom">
  <div class="row ml-5">
    <h3>YOUR BAG</h3>
  </div>
  {% if not empty %}
    {% for item in items %}
    <div class="row mt-3">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <img src="{% static 'onlineshop/images/ian-dooley-wzRKn-AjKf4-unsplash.jpg' %}" class="img-fluid" alt="" style="height: 250px; width: auto;">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-6 text-left">
          <div class="prod-text-trans" style="margin-top:1rem; margin-bottom: 2rem">
            <h2 id="item-name">{{ item.0.name }}</h2>
            <h3>IDR <span id="item-price">{{ item.0.price }}</span></h3>
            <h5>QTY: <span id="item-qty">{{ item.1 }}</span></h5>
            <span>
              <button class="btn-inc" id="btn-inc"><i class="fa fa-plus"></i></button>
              <button class="btn-dec" id="btn-dec"><i class="fa fa-minus"></i></button>
              <button class="btn-rm" id="btn-rm"><i class="fa fa-trash"></i></button>
            </span>
          </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="row mt-4 ml-5">
      <div class="alert alert-info" role="alert">
        You have not added items to the bag yet!
      </div>
    </div>
  {% endif %}

  <div class="row mt-5 ml-5">
    <div class="col-lg-8 col-md-6 col-sm-6 text-left">
      <div class="form-group">
        <div class="form-group autocomplete">
          <label for="InputName">Coupon</label>
          <input type="text" name="input_coupon" class="form-control" placeholder="Insert Coupon" id="coupon-code-input">
        </div>
        <button type="button" id="submit-button"> submit </button><br>
        <input type="radio" id="radio-code" name="name" value="code" checked />
        <label for="code">search by code</label>
        <input  class="ml-5" type="radio" id="radio-discount" name="name" value="discount">
        <label for="discount">search by discount percentage</label><br>
      </div>
    </div>
  </div>


  <div class="row text-left ml-5">
    <div class="col-7">
      <h3 style="margin-left: 0rem;width:400px">Total : IDR <span id="base-price">{{ total }}</span></h3>
    </div>
  </div>
  <div class="row text-left ml-5">
    <div class="col-7">
      <h3 style="margin-top:1rem; margin-left:0rem;;width:400px">Discounted: IDR <span id="total-disc">0</span></h3>
    </div>
  </div>
  <div class="row text-left ml-5">
    <div class="col-9">
      <h3 style="margin-top:1rem; margin-left:0rem;max-width:650px">Amount to be Paid: IDR <span id="final-amount">{{ total }}</span></h3>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-success" id="confirm-checkout" style="margin-top:1rem;width:100px;height:60px">Checkout</button>
    </div>
  </div>
  <br />
  <div id="trans-alert"></div>
</div>

<script>
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  var trans_api_url = "{% url 'onlineshop:add-transaction' %}";
</script>


{% endblock content %}
